* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-weight: 100;


}
:root {
    --main-color: white;
    --secondary-color: #f5a425;

}


body {
    background-color: rgb(255, 255, 255);
    font-family: 'Poppins', sans-serif;
    color: var(--main-color);
    margin: 0;
    padding: 0;
}



*{
    box-sizing: border-box;
}





@media (min-width: 576px) {
    .container {
        width: 540px;

  }
}


@media (min-width: 768px) {
    .container {
        width: 750px;
    }


}


@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}


@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }


}  



.container {

    margin-left: auto;
    margin-right: auto;
    
}

/* start HOME */

.HOME .container .HOMElanding{
    position: relative;
}

.HOME .container .HOMElanding .NAVlandinG {

    z-index: 1;
    position: absolute;
    top: 0px;
    height: 80px;
    width: 100%;
}

video {
    position: relative;
    z-index: -100;
    min-width: 100%;
    min-height: 100vh;
    max-width: 100%;
    max-height: 100vh;
    object-fit: cover;
}



.LOGO{
    grid-area:LOGO ;
}
.NAV{
    grid-area:NAV ;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.NAVinside{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-areas: "LOGO LOGO LOGO LOGO NAV NAV NAV NAV NAV NAV";
    top: 50%;
    left: 50%;
    align-items: center;
    transform: translate(-50%, -50%);
    width: 100%;
    position: absolute;
    padding: 10px;
}

.HOME .container .HOMElanding .NAVlandinG .NAV li{
    list-style: none;

}

.HOME .container .HOMElanding .NAVlandinG .NAV li a{
    text-decoration: none;
    color: white;
    transition: 0.3s;
}

.HOME .container::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 80px;
    left: 0;
    top: 0px;
    background-color: rgba(250,250,250,0.15);
    z-index: 0;
}

.HOME .overlay::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0px;
    background-color: rgba(31,39,43,0.75);
    z-index: -9;
}

.HOME .container .HOMElanding .NAVlandinG  .LOGO{
    font-weight: 700;
    font-size: 25px;
}

.HOME .container .HOMElanding .NAVlandinG  .NAV li a {
    font-weight: 700;
    font-size: 13px;
}
.HOME .container .HOMElanding .NAVlandinG  .NAV li:nth-child(2) a{
color: #f5a425;
}


.HOME .container .HOMElanding .NAVlandinG  .NAV li a:hover{
    color: #f5a425;
    }


.bars {
    display: none;

    }



@media (max-width: 768px) {



    .NAVinside{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-areas: "LOGO LOGO LOGO LOGO LOGO LOGO LOGO LOGO bars bars";
    align-items: center;
    transition: 0.5s;
    }

    .LOGO{
        grid-area:LOGO ;
        color: black;
    }

    .bars{
        grid-area:bars ;
        cursor: pointer;
        display: block;
        position: absolute;
    }

    
    .bars {
        width: 60px;
        display: flex;
        flex-wrap: wrap;
        }
    


    .bars span{
    width: 100%;
    height: 2px;
    margin: 5px;
    background-color: black;  
    }

    .bars span:nth-child(1){
        width: 60%;
        transition: 0.5s;

        }

        .rotateup{
            transform: rotate(45deg);
            width: 100%;
            position: absolute;
            transition: 0.5s;
            

        }

    .bars span:nth-child(2){
        width: 100%;
        transition: 0.5s;

        }
        .display{
        opacity: 0;
            animation: moave 2s ;
        }

        .bars span:nth-child(3){
        width: 60%;
        transition: 0.5s;
    }

    .rotatedown{
        transform: rotate(-45deg);
        width: 100%;
        position: absolute;
        transition: 0.5s;
    }


    .HOME .container::after{
        content: "";
        position: absolute;
        width: 100%;
        height: 80px;
        left: 0;
        top: 0px;
        background-color: white;
    }

    .HOME .container .HOMElanding .NAVlandinG .NAV .li{
        width: 100%;
        height:100%;
        padding: 15px  ;
        color: black;
        align-items: center;
        border: rgb(177, 177, 177) solid 1px;
        transition: 0.5s;

    }



    .HOME .container .HOMElanding .NAVlandinG .NAV .li:hover{
        background-color: #eeeeee;


    }

    .HOME .container .HOMElanding .NAVlandinG .NAV .li a{
        color: black;
    }

    .HOME .container .HOMElanding {
        position: relative;
        width: 100%; 
        
    }


    .HOME .container .HOMElanding .NAVlandinG .NAV {

    display: flex;
    flex-direction: column;
    background-color: white;
    position: absolute;
    top: 64px;
    width: 100%;
    text-align: center;
    align-items: center;
    transition: 0.5s;
    display: none;
    }


    .HOME .container .HOMElanding .NAVlandinG .NAV {
        transform: translateY(-100%);
    }
    
    .HOME .container .HOMElanding .NAVlandinG .NAV.shownav{
    transform: translateY(0);
    animation: MOVE 0.5S;
    display: block;
}
    }

    .HOME {
        position: relative;
    }

    .HOME .container .AREAlandinG{
    position: absolute;
    top: 40%;
    width: 50%;    
    padding: 10px;
    z-index: -1;
    }

    .AREAlandinG div:nth-child(1){
        font-size: 15px;
        font-weight: 700;
        margin-bottom: 20px;
    }
    .AREAlandinG div:nth-child(2){
        font-size: 30px;
        font-weight: 900;
        margin-bottom: 20px;
    }

    .AREAlandinG div:nth-child(3){
        line-height: 1.8;
        margin-bottom: 20px;
    }

    .AREAlandinG div:nth-child(4){
background-color: #a12c2f;
padding: 15px 30px 15px 30px;
border-radius: 30px;
width: fit-content;
font-size: 12px;
font-weight: 600;
    }


    @media (max-width: 576px) {
        .HOME .container .AREAlandinG{
            position: absolute;
            top: 20%;
            width: 80%;    
            padding: 10px;
            }
    }

    .animation::before{
        content: "";
        position: fixed;
        width: 100%;
        height: 80px;
        left: 0;
        top: 0px;
        background-color: rgba(255, 0, 0, 0.15);
    }

    .HOME .MEETING-background img{
        z-index: -100;
        min-width: 100%;
        max-width: 100%;
    }


    .NAV #lishow ul{
        display: flex;
        flex-direction: column; 
        position: absolute; 
        background-color: #e2e2e2;
        /* top: 80px; */
        margin-top: 80px;
        text-align: center;
        align-items: center;
        transition: 0.5s;
        opacity: 0;
        }

        .NAV #lishow ul.active{
        opacity: 1;
        margin-top: 30px;

        
    }


        
    #deepli li{
        max-width: 230PX;
        min-width: 230PX;
        padding-left:  10px;
        padding-right:  10px;
        border-bottom: 1px solid #eee; 
        transition: 0.3s;
    }

    #deepli li:hover{
        padding-left:  20px;
        background-color: white;

    }
    
     #deepli li a{
    
        font-size: 14px;
        font-weight: 500;
        color: #161616af;
        height: 40px;
        line-height: 40px;   
         transition: all 0.3s ;    
    }


    #deepli li:hover a{
        color: #f5a425;
 
    }


    @media (min-width: 768px) {
        
    
        
#lishow{
    position: relative;
}

.NAV #lishow ul{
    display: flex;
    flex-direction: column; 
    position: absolute; 
    background-color: white;
    top: 20px;
    margin-top: 29px;
    width: 100%;
    left: 0;
    text-align: center;
    align-items: center;
    transition: 0.3s;
    opacity: 0;
    display: none;
    }

    .NAV #lishow ul.active{
    display: block;
    opacity: 1; 
    top: 20px;
    margin-top: 29px;

    
}



.NAV #lishow ul li{
    max-width: 100%;
    min-width: 100%;
}

.HOME .container .HOMElanding .NAVlandinG .NAV  #lishow ul li{
    width: 100%;
    padding: 4px  ;
    color: black;
    align-items: center;
    border: rgb(177, 177, 177) solid 1px;
    transition: 0.5s;

}



.HOME .container .HOMElanding .NAVlandinG .NAV  #lishow ul li:hover{
    background-color: #eeeeee;


}
 
.HOME .container .HOMElanding .NAVlandinG .NAV #lishow ul li a{
    color: black;
    font-weight: 700;
    font-size: 13px;
}



    }

/* end HOME */

/* start MEETING */



.MEETING{
    position: relative;
}
.MEETING .background-image {

    margin-top:-10px ;
    background-image: url(../images/meetings-bg.jpg);
    background-size: cover;
}

.MEETING .container{
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px;

}

.meeting-item {
    position: relative;
    border-radius: 20px;
    background-color: #ffffff;
    overflow: hidden;
    opacity: 0;
    display: none;
    margin: 0px 15px;
    margin-top: 90px;    

}

.meeting-item.active{
display: block;
animation: move  2s;
opacity: 1;


}

@keyframes move {
    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
    
}




.meeting-item a{
    text-decoration: none;
    margin-top: 50px;
}

.meeting-item div{
color: black;
}

.meeting-item .price{
    position: absolute;
    padding: 10px 15px;
    background-color: #eeeeee;
    color: black;
    top: 10px;
    left: 10px;
    border-radius: 10px;
    font-weight: 700;
}

.meeting-item .info{

display: flex;
flex-direction: row;
padding: 30px;
}

.meeting-item a img{
    width: 100%;
}

.meeting-item .info .data :nth-child(1){
font-size: 13px;
text-transform: uppercase;
font-weight: 600;
color: #a12c2f;
margin-right:10px ;
}

.meeting-item .info .data :nth-child(2){
display: block;
color: #1f272b;
font-size: 22px;
margin-top: 7px;
font-weight: 600;

}

.meeting-item .info .event :nth-child(1){
    font-size: 18px;
    color: #1f272b;
    font-weight: 600;
    display: inline-block;
    margin-bottom: 15px;
}

.meeting-item .info .event :nth-child(2){
    font-size: 14px;
    line-height: 25px;
    color: #2a2a2a;
}

.down-content{
    padding: 30px;
}

.down-content .head h1{
    font-size: 22px;
    color: #1f272b;
    font-weight: 600;
    margin-bottom: 15px;
}
.down-content .head p{
    color: #1f272b;
    font-size: 14px;

    margin-top: 40px;
    margin-bottom: 40px;
    padding-bottom: 40px;
    border-bottom: 1px solid #eee;
}

.down-content .details p {

    margin-bottom: 40px;
    padding-bottom: 40px;
    border-bottom: 1px solid #eee;
} /* */

.MEETING .container{
    position: relative;
}
    .MEETING .container .MEETINGlanding{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-gap: 20px;
    padding-top: 100px;

}


.meeting-item .time h1{
    font-size: 18px;
    color: #1f272b;
    font-weight: 700;
    display: inline-block;
    margin-bottom: 15px;
}

.meeting-item .time p{
    color: #1f272b;
    font-size: 14px;
}

.social-media{
    margin-top: 40px;
    padding-top: 40px;
    border-top: 1px solid #eee;
}

.social-media {

    font-size: 14px;
    color: #1f272b;
    transition: all .3s;
}

.social-media span{
    transition: all .3s;
}
.social-media span:hover{
    color: #f5a425;
}

.social-media h5{

    font-size: 18px;
    color: #1f272b;
    font-weight: 700;
    display: inline-block;
}


.filters{
    margin-top: 60px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;    
    width: 50%;
    position: absolute;
    transform: translate(-50%);
    /* background-color: #f5a425; */
    left: 50%; 
}



.filters div{
    margin: 10px 10px;
    padding: 10px 0px;
    padding-left: 18px;
    padding-right: 18px;
    cursor: pointer;
    background-color: #ffffff;
    border-radius: 22px;
    color: #a12c2f;

    
    /* padding: 11px 30px; */
    font-weight: 600; 

} 

.filters div.active{

    background-color: #a12c2f;
    color: white;

}

@media (max-width: 576px) {

    .MEETING .container .MEETINGlanding{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-gap: 40px;
    padding-top: 100px;
    margin-top: 170PX;

}

}


/* end MEETING */


